<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Mirobot</title>
  <style>

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
  
h1{
  margin:0;
}

.hidden{
  display:none !important;
}

#frame{
  display:block;
  border:none;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}

  </style>
  <script type="text/javascript">
function selectMirobot(e){
  var el = e.srcElement || e.target;
  console.log(el);
  console.log(el.dataset.address);
  document.querySelector('#frame').src="http://" + el.dataset.address;
  document.querySelector('#frame').className = '';
  document.querySelector('#choose').className = 'hidden';
}
  </script>

</head>
<body>
<% if(devices.length === 0){ %>
  No Mirobots found on your network
<% }else if(devices.length === 1){ %>
  <iframe src="http://<%= devices[0].address %>" id="frame"/>
<% }else{ %>
  <div id="choose">
  <h1>Choose your Mirobot</h1>
  <ul>
  <% devices.forEach(function(robot){ %>
      <li><a href="#<%= robot.name %>" onclick="selectMirobot(event)" data-address="<%= robot.address %>"><%= robot.name %></a></li>
  <% }); %>
  </ul>
  </div>
  <iframe src="" id="frame" class="hidden"/>
<% } %>
</body>
</html>
